footer
  .container.text-center
    p.pull-left Jawad Khudadad. Web Applications All rights Reserved. Copyright 2017
    ul.pull-right.list-inline
      li
        a(href='https://www.en.wikipedia.org/wiki/Web_application' target='_blank') Wikipedia
      li
        a(href='https://www.linkedin.com/in/jawad-khudadad-a043b1137/' target='_blank') LinkedIn
      li
        p Contact me: jawad.khudadad@gmail.com
      
