extends parent

include article

block content
  h2 Zion Williamson
  p.lead Article about the best high school basketball player in the country.
  hr
  .row
    .col-sm-12
      article
        h3 Zion Williamson Biography
        p Spartanburg Days Zion Williams is a 6-foot-6, 230-pound junior and one of the nations top high school basketball players. Oh man, he can do it all, said recruiting analyst Rick Lewis of Phenom Hoop Report, which tracks players in North and South Carolina. He got a tremendous body. He has size, athleticism and an advanced skill set. He is just a special player at the highest level. He is the type of player you will probably see in the NBA one day.
  hr
  .row
    .col-sm-12
       +article('Sky is the limit for Zion Williamson.', 'Williams received his first scholarship offer from hometown Wofford at the end of his freshman year.', 'zion.jpg')
        
